@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Dosis:wght@200..800&display=swap');
.project-header{
    display: flex;
    justify-content:flex;
    align-items: center;
    margin: 40px 20px;
    gap: 200px;
}
.project-header button{
    width: 100px;
    background-color: aqua;
    border: none;
}
.project-body{
    font-family: 'Roboto';
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
td,th{
    border-bottom: 2px #dddddd solid;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #dddddd;
}
tr:hover{
    background-color: rgba(167, 163, 163, 0.2);
}
.project-container{
    text-align: center;
}
.project-container a{
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color:greenyellow;
    border-radius: 10px;
    font-size: 20px;
}
.project-container a:hover{
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color:red;
    border-radius: 10px;
    font-size: 20px;
}
.project-container h2{
    color: rgb(7,7,7);
    font-family: "Kaushan Script", cursive;
    text-decoration: underline;
    font-weight: 900;
}
.tablehead{
    font-family:"Playfair Display", serif;
}
.tablebody .trow{
    font-family: "Dosis", sans-serif;
    font-size: medium;
}
.search-box img{
    border-radius: 50%;
    width: 30px;
}
.search-box{
    display: flex;
    align-items: center;
    background-color:#fff;
    padding: 10px 20px;
    border-radius: 50px;
}
.search-box input{
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #111;
    font-size: 18px;
    max-width: 300px;
}