@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
.project-header{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 40px 20px;
    gap: 40px;
}
.project-header button{
    width: 100px;
    background-color: aqua;
    border: none;
}
.project-body{
    font-family: 'Roboto';
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
td,th{
    border-bottom: 1px #dddddd solid;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #dddddd;
}
tr:hover{
    background-color: rgba(167, 163, 163, 0.2);
}
.project-container{
    text-align: center;
}
.project-container h2{
    color: rgb(7,7,7);
    font-family: "Kaushan Script", cursive;
    text-decoration: underline;
    font-weight: 900;
}