@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;1,400;1,500&display=swap');

.signin-container {
    margin: 40px auto;
    text-align: center;
    width: 700px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    color: #000000;
    border-radius: 10px;
    padding: 30px 40px;
    align-items: center;
    backdrop-filter: blur(5px);
}

.signin-container h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Consistent gap between input boxes */
}

.form-group input {
    width: 80%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 30px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.form-group input::placeholder {
    color: #fff;
}

.form-group input[type="email"]::placeholder {
    color: #ffdbdb;
}

.form-group label {
    margin-bottom: 8px;
    font-weight: 500;
    color: #fff;
}

.signup-checkbox {
    display: flex;
    font-size: 14px;
    accent-color: #fff;
    margin: 10px 0; /* Adjusted for consistent spacing */
    align-items: center;
}

.signup-checkbox input {
    margin-right: 10px;
}

button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    margin-top: 20px; /* Consistent spacing above the button */
}

.login-link {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: rebeccapurple;
    text-decoration: none;
    font-weight: 500;
}

.login-link a:hover {
    text-decoration: underline;
}
