@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.users-page-container{
    width: 300px;
    padding:30px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,.2);
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}
.users-page-container p{
    font-family: "Pacifico", cursive;
    font-weight: 300;
    width: 150px; 
}
.users-page-container button{
    background-color: #fff;
    border-radius: 10px;
    width: 100px;
    font-family:'Times New Roman', Times, serif ;
}
.users-elemts{
    margin: 20px;
    background-color: aquamarine;
}