.slideshow{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}
.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity is ease-in-out;
}
.slide.active{
    opacity: 1;
}
