
.Nav-Container ul{
    list-style: none; 
    display: flex;
    justify-content: center;
}
.Nav-Container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header-Container{
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin: 0;
}
.Header-Container h1{
    color: aqua;
    font-weight: 800px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.imageContainer{
    display: flex;
    align-items: center;
}
.imageContainer img{
    width: 50px;
    height: 50px;
}

.nav-elements {
    text-decoration: none;
    color: rgb(4, 4, 4);
    padding: 5px;
    border-radius: 1px;
    margin: 0 10px;
    background-color: rgb(64, 255, 0);
}
.nav-elements:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}
.Nav-Container ul li{
    color: white;
    font-weight: 300px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
}
