ul{
    list-style: none; 
    display: flex;
    justify-content: center;
}
ul li{
    margin: 20px;
}
.Header-Container{
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.Header-Container h1{
    color: aqua;
    font-weight: 800px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Header-Container h2{
    color: white;
    font-weight: 300px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}